:root {
    --black-color: #000;
    --white-color: #fff;
    --text-color: #333;
    --searchbar-width: 
}

* {
    /* Kế thừa thuộc tính từ thẻ cha */
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    /* Border-box sẽ cho các thẻ cha và thẻ con sẽ được kế thừa (inherit) khai báo ở trên */
    box-sizing: border-box;
}

ul {
    padding: 0;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}